
      *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins',emoji;
      }
      ::selection{
        color: #000;
        background: #fff;
      }
    
      nav{
        position: fixed;
        background: #000;
        width: 100%;
        padding: 10px 0;
        z-index: 12;
      }
      nav .menu{
        max-width: 1250px;
        margin: auto;
        display: flex;
        align-items:center;
        justify-content: space-between;
        padding: 0 20px;
      }
      .menu .logo a{
        text-decoration: none;
        color: #fff;
        font-size: 35px;
        font-weight: 600;
      }
      .menu ul{
        display: inline-flex;
      }
      .menu ul li{
        list-style: none;
        margin-left: 7px;
      
      }
      .menu ul li a{
        text-decoration: none;
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        padding: 8px 15px;
        border-radius: 5px;
        transition: all 0.3s ease;
      }
      .menu ul li a:hover{
        background: #fff;
        color: black;
      }
      .img{
        background-image:url("https://lp-cms-production.imgix.net/2019-06/GettyImages-149353949_high.jpg?sharp=10&vib=20&w=1200&auto=compress&fit=crop&fm=auto&h=800") ;
        width: 1370px;
        height: 1300px;
        background-size: cover;
        background-position: center;
        position: relative;
      }
      .img::before{
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.4);
      }
      .center{
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        padding: 0 20px;
        text-align: center;
      }
      .center .title{
        color: #fff;
        font-size: 55px;
        font-weight: 600;
      }
      .center .sub_title{
        color: white;
        font-size: 52px;
        font-weight: 600;
      }
      .center .btns{
        margin-top: 15px;
      }
      .center .btns button{
        height: 100px;
        width: 250px;
        border-radius: 3px;
        border: white;
        margin: 0 5px;
        border: 1px;
        font-size: 13px;
        font-weight: 600;
        padding: 0 10px;
        cursor: pointer;
        outline: none;
        transition: all 0.3s ease ;
        border-radius:15px 50px;
      }
      .center .btns button:first-child{
        color: rgb(0, 0, 0) ;
        background: white ;
      }
      .btns button:first-child:hover{
        background: white;
        color: black;
      }
      .center .btns button:last-child{
        background: white;
        color: black;
      }
    